R.jpg
img2.jpg
logo_google.png
icon/error.svg
icon/img-principal.jfif
icon/logo.ico
icon/logo.png
icon/logo.jpg
icon/img1.jpg
icon/logo.svg
icon/studio.1.jpg
icon/error.svg
categori_more/img.jpg
categori_more/music.jpg
categori_more/muzica.svg
categori_more/song.jpg
categori_more/undraw_audio_player_re_cl20.svg
categori_more/undraw_imagination_re_i0xi.svg
categori_more/undraw_playlist_re_1oed.svg
muzica
recuperare/rec.svg
recuperare/recuper_logo.svg
vendor
composer.json
composer.lock
icon